<app-customer-navigation></app-customer-navigation>
<div class="container">
    <div class="d-flex bd-highlight mb-3">
        <div class=" p-2 w-100 bd-highlight">
            <h2>Product List</h2>
        </div>
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" [(ngModel)]="searchKey">
                    
            </div>
            <div class=" ml-auto p-2 bd-highlight">
                <button type="button" class="btn  btn-primary me-2  " (click)="searchByKeyword()">Search</button>
            </div>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Os</th>
                <th>Stock Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let product of products">
                
                <td>{{product.modelName}}</td>
                <td>{{product.os}}</td>
                <td>{{product.stockAvailable}}</td>
                <td>
                    <button (click)="viewProductById(product.id)" class="btn btn-info" style="margin-left:10px">View</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
